@import "../components/Header/header";

body {
  margin: 0;
  padding: 0;
}

div {
  &.container {
    padding: 1rem;

    &.dark {
      background-color: #343434;
      color: #F0F0F0;
    }
  }
}

img {
  width: 100%;
  max-width: 600px;
}
